* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
/*=============================
=            mixin            =
=============================*/
/*=====  End of mixin  ======*/
/* Less Variables */
.big_block {
  height: 100vh;
  min-height: 622px;
  position: relative;
}
.big_block h3 {
  background: white;
  width: 33.33333333%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 10px;
  position: absolute;
  left: 0;
  right: 0px;
  top: -31px;
  -webkit-box-shadow: 1px 1px 2px 1.5px #cccccc;
  -moz-box-shadow: 1px 1px 2px 1.5px #cccccc;
  box-shadow: 1px 1px 2px 1.5px #cccccc;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -o-border-radius: 19px;
  border-radius: 19px;
  z-index: 3;
}
section.big_block:nth-of-type(even) {
  background-color: #cccccc;
}
.big_block:after {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 16px;
  top: 14px;
  width: 96%;
  margin: 0px auto;
  clear: both;
  border-style: dashed;
  border-width: 2px 0px;
  border-radius: 20px;
  z-index: 0;
  content: '';
  pointer-events: none;
}
.big_block .container {
  padding: 20px 28px ;
  position: relative;
}
@media (min-width: 1281px) {
  .big_block {
    height: 80vh;
  }
  .big_block .logo {
    margin: 10vw auto 0px auto;
  }
}
@media (max-width: 1200px) {
  .big_block {
    height: auto;
  }
}
@media (max-width: 678px) {
  .big_block h3 {
    width: 66.66666667%;
  }
}
.header {
  background: #ffffff url(../images/header_bg.jpg) 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.46);
}
.logo {
  width: 33.33333333%;
  margin: 17vw auto 0px auto;
  padding: 25px 10px;
  border: 1px solid #CCC;
  font-family: Cambria, fantasy;
  font-size: 37px;
  text-align: center;
  text-transform: capitalize;
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  -o-border-radius: 37px;
  border-radius: 37px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  background: #FFF;
}
body {
  word-wrap: break-word;
}
.soc_icons {
  position: fixed;
  top: 20vh;
  right: 3px;
  z-index: 9999;
}
.soc_icons li {
  margin-bottom: 13px;
  text-align: center;
}
.soc_icons li a {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(91, 192, 222, 0.5);
  color: #4d4d4d;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(35, 144, 176, 0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(35, 144, 176, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(35, 144, 176, 0.5);
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.soc_icons li a:hover {
  background-color: #5bc0de;
  color: #ffffff;
  -webkit-box-shadow: 1px 1px 1px 1px #2390b0;
  -moz-box-shadow: 1px 1px 1px 1px #2390b0;
  box-shadow: 1px 1px 1px 1px #2390b0;
}
.main_meni.navbar-default.navbar {
  margin-top: 10vh;
  box-shadow: none;
  background: none;
  border: 1px solid !important;
  border-color: transparent !important;
}
.main_meni.navbar-default.navbar .navbar-collapse {
  border: none;
}
.main_meni.navbar-default.navbar ul.nav {
  float: none;
  list-style: none;
  text-align: center;
  padding-left: 0px;
}
.main_meni.navbar-default.navbar ul.nav li {
  float: none;
  width: 131px;
  display: inline-block;
}
.main_meni.navbar-default.navbar ul.nav li.active a {
  background: #5bc0de;
}
.main_meni.navbar-default.navbar ul.nav a {
  position: relative;
  display: block;
  padding: 10px 30px;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background: white;
}
.main_meni.navbar-default.navbar ul.nav a:hover {
  color: white;
  background-color: #cccccc;
}
.main_meni.navbar-default.navbar ul.nav a:active {
  top: 1px;
  background-color: #bdbdbd;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.main_meni.navbar-default.navbar .sticky {
  position: fixed;
  top: 0px;
  z-index: 9999;
}
.main_meni.navbar-default.navbar .sticky ul {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.main_meni.navbar-default.navbar .sticky ul:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.about_us .row > * {
  padding-top: 120px;
}
.about_us img {
  width: 100%;
}
.product,
.team {
  list-style: none;
  padding-left: 0px;
}
.product:before,
.team:before,
.product:after,
.team:after {
  content: "";
  display: table;
  clear: both;
}
.product li,
.team li {
  display: block;
  margin-left: 1%;
  float: left;
}
.product {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 71px;
}
.product_block {
  width: 24%;
  padding: 0px 0px 10px 0px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  margin-bottom: 1%;
  background: rgba(204, 204, 204, 0.58);
  cursor: pointer;
}
.product_block:after {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 32px;
  margin-top: -16px;
  content: '';
  border-style: dashed;
  border-width: 2px 0px;
  border-color: #000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  pointer-events: none;
}
.product_block:hover:after {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.product_block:after,
.product_text,
.product img {
  -ms-transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
}
.product_text {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 81%;
  height: 45%;
  padding: 5px 10px;
  z-index: 2;
  top: -100%;
  margin: 0px auto;
  text-align: center;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  background: #FFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  pointer-events: none;
}
.product img {
  width: 100%;
}
.product_block:hover .product_text {
  top: 56px;
  pointer-events: auto;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.product_block:hover img {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
.team_person {
  width: 32.3%;
  position: relative;
  padding: 20px;
  height: 500px;
  margin-top: 37px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #dedede;
}
.team_person:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  bottom: 100%;
  width: 2px;
  border-left: 2px dashed #000;
  height: 37px;
  background-color: #cccccc;
  z-index: 1;
}
.team_person_photo {
  width: 100%;
  margin-bottom: 10px;
}
.team_person_photo ~ * {
  padding-left: 10px;
  padding-right: 10px;
}
.contacts_form form,
.contacts {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(204, 204, 204, 0.58);
}
.contacts {
  margin-top: 86px;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #888;
  padding-top: 30px;
}
.contacts_form form {
  padding: 20px;
  margin-top: 50px;
}
.contacts_form form:before,
.contacts_form form:after {
  content: "";
  display: table;
  clear: both;
}
.contacts_form form input[type="text"],
.contacts_form form input[type="email"],
.contacts_form form textarea {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.contacts_form form input[type="text"]:focus::-webkit-input-placeholder,
.contacts_form form input[type="email"]:focus::-webkit-input-placeholder,
.contacts_form form textarea:focus::-webkit-input-placeholder {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.contacts_form form input[type="text"]:focus::-moz-placeholder,
.contacts_form form input[type="email"]:focus::-moz-placeholder,
.contacts_form form textarea:focus::-moz-placeholder {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.contacts_form form input[type="text"]:focus:-moz-placeholder,
.contacts_form form input[type="email"]:focus:-moz-placeholder,
.contacts_form form textarea:focus:-moz-placeholder {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.contacts_form form input[type="text"]:focus:-ms-input-placeholder,
.contacts_form form input[type="email"]:focus:-ms-input-placeholder,
.contacts_form form textarea:focus:-ms-input-placeholder {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.contacts_form form input[type="text"]:hover,
.contacts_form form input[type="email"]:hover,
.contacts_form form textarea:hover,
.contacts_form form input[type="text"]:focus,
.contacts_form form input[type="email"]:focus,
.contacts_form form textarea:focus {
  background-color: white;
}
.contacts_form form input[type="text"]:focus,
.contacts_form form input[type="email"]:focus,
.contacts_form form textarea:focus {
  -webkit-box-shadow: 1px 1px 0.5px 0px rgba(35, 144, 176, 0.4);
  -moz-box-shadow: 1px 1px 0.5px 0px rgba(35, 144, 176, 0.4);
  box-shadow: 1px 1px 0.5px 0px rgba(35, 144, 176, 0.4);
}
.contacts_form form input[type="text"]:focus + label,
.contacts_form form input[type="email"]:focus + label,
.contacts_form form textarea:focus + label {
  width: 100%;
}
.contacts_form form input[type="text"]:invalid:focus + label,
.contacts_form form input[type="email"]:invalid:focus + label,
.contacts_form form textarea:invalid:focus + label {
  background-color: red;
}
.contacts_form form input[type="text"]:valid:focus + label,
.contacts_form form input[type="email"]:valid:focus + label,
.contacts_form form textarea:valid:focus + label {
  background-color: green;
}
.contacts_form form input[type="text"] + label,
.contacts_form form input[type="email"] + label,
.contacts_form form textarea + label {
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  display: block;
  margin-bottom: 15px;
  margin-top: 9px;
  width: 0%;
  height: 2px;
}
.contacts_form form .form-control {
  height: auto;
}
.contacts_form form textarea {
  margin-bottom: 0px;
  resize: none;
}
.contacts_form form .btn {
  width: 40%;
  min-width: 100px;
  padding: 7px 16px;
  background: #b3b3b3;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: none;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.contacts_form form .btn:hover {
  background: #a6a6a6;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.contacts_form form input[type="submit"] {
  float: right;
}
footer {
  background: #b3b3b3;
  padding: 20px 10px 10px;
  text-align: center;
}
footer p {
  margin-bottom: 0px;
}
/* Mediascreen */
@media (max-width: 1200px) {
  .team li {
    width: 49%;
    height: auto;
    margin-bottom: 20px;
  }
  .contacts,
  .contacts_form form {
    width: 86%;
  }
}
@media (max-width: 992px) {
  .logo {
    width: 51%;
  }
  .about_us .row > * {
    padding-top: 29px;
  }
  .about_us .row > *:nth-child(1) {
    padding-top: 43px;
  }
  .about_us .row > *:last-child {
    padding-bottom: 40px;
  }
  .product {
    margin-bottom: 0px;
    padding-bottom: 40px;
  }
  .product li {
    width: 49%;
  }
  .contacts {
    margin-top: 44px;
    padding: 5px;
    padding-top: 12px;
  }
  .contacts_form form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .contacts_form form {
    text-align: center;
  }
  .contacts_form form input[type="submit"] {
    float: none;
  }
  .contacts_form form .btn {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .soc_icons {
    display: none;
  }
  .main_meni.navbar-default.navbar {
    position: fixed;
    top: 0px;
    margin: 0px;
    right: 0px;
    left: 0px;
    z-index: 997;
  }
  .main_meni.navbar-default.navbar,
  .main_meni.navbar-default.navbar ul.nav {
    background-color: #e6e6e6;
  }
  .main_meni.navbar-default.navbar .navbar-toggle {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-color: transparent;
  }
  .main_meni.navbar-default.navbar .navbar-toggle:hover {
    background: #bfbfbf;
  }
  .main_meni.navbar-default.navbar .soc_icons {
    position: static;
    display: inline-block;
  }
  .main_meni.navbar-default.navbar .soc_icons ul {
    margin-bottom: 0px;
  }
  .main_meni.navbar-default.navbar .soc_icons li {
    display: inline-block;
    margin: 10px 0px  0px 19px;
  }
  .main_meni.navbar-default.navbar .navbar-collapse {
    padding: 0px;
    border-top: 1px solid #000000;
  }
  .main_meni.navbar-default.navbar ul.nav {
    margin: 0px;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
  .main_meni.navbar-default.navbar ul.nav li {
    display: block;
    width: 100%;
  }
  .main_meni.navbar-default.navbar ul.nav a {
    border-radius: 0px;
    background-color: transparent;
    -webkit-box-shadow: -0.5px -0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -0.5px -0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    box-shadow: -0.5px -0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 760px) {
  .team li {
    min-height: 532px;
  }
}
@media (max-width: 697px) {
  .team li {
    width: 58%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 0px;
  }
}
@media (max-width: 656px) {
  .product li {
    width: 69%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 598px) {
  .team li {
    width: 77%;
  }
}
@media (max-width: 513px) {
  .contacts,
  .contacts_form form {
    width: 100%;
  }
  .contacts_form form .btn {
    width: 100%;
  }
}
@media (max-width: 476px) {
  .product li {
    width: 89%;
  }
}
@media (max-width: 468px) {
  .team li {
    width: 100%;
  }
}
@media (max-width: 433px) {
  .logo {
    width: 100%;
    font-size: 32px;
  }
}
@media (max-width: 369px) {
  .product li {
    width: 100%;
  }
}
